<h1 id="schemdrawgallery">SchemDraw Gallery</h1>

<h2 id="chargingcapacitor">Charging capacitor</h2>

<figure>
<img src="gallery/cap_charge.png" alt="" />
<figcaption></figcaption></figure>

<p><a href="gallery/cap_charge.py">Source</a></p>

<hr />

<h2 id="loopcurrents">Loop Currents</h2>

<figure>
<img src="gallery/loop_current.png" alt="" />
<figcaption></figcaption></figure>

<p><a href="gallery/loop_current.py">Source</a></p>

<hr />

<h2 id="operationalamplifier">Operational Amplifier</h2>

<figure>
<img src="gallery/opamp.png" alt="" />
<figcaption></figcaption></figure>

<p><a href="gallery/opamp.py">Source</a></p>

<hr />

<h2 id="source-measure-unitsmu">Source-Measure-Unit (SMU)</h2>

<p>This example demonstrates grouping elements into a unit.
Each SMU is grouped into a unit which is then placed where needed.</p>

<figure>
<img src="gallery/smu.png" alt="" />
<figcaption></figcaption></figure>

<p><a href="gallery/smu.py">Source</a></p>

<hr />

<h2 id="srlatch">SR Latch</h2>

<figure>
<img src="gallery/SR.png" alt="" />
<figcaption></figcaption></figure>

<p><a href="gallery/SR.py">Source</a></p>

<hr />

<h2 id="resistorcircle">Resistor circle</h2>

<p>Shows creation of elements within for loop, angled elements with automatic label positioning, and colors.</p>

<figure>
<img src="gallery/Rcircle.png" alt="" />
<figcaption></figcaption></figure>

<p><a href="gallery/Rcircle.py">Source</a></p>

<hr />

<h2 id="powersupply">Power Supply</h2>

<figure>
<img src="gallery/powersupply.png" alt="" />
<figcaption></figcaption></figure>

<p><a href="gallery/powersupply.py">Source</a></p>

<hr />

<h2 id="741op-amp">741 Op-Amp</h2>

<p>Internal schematic of a 741 IC.</p>

<figure>
<img src="gallery/741.png" alt="" />
<figcaption></figcaption></figure>

<p><a href="gallery/741.py">Source</a></p>

<hr />

<h2 id="xkcdmode">XKCD Mode</h2>

<p>Turn on Matplotlib&#8217;s XKCD mode for some hand-drawn looks!</p>

<figure>
<img src="gallery/ex_xkcd.png" alt="" />
<figcaption></figcaption></figure>

<p><a href="gallery/ex_xkcd.py">Source</a></p>

<figure>
<img src="gallery/SRxkcd.png" alt="" />
<figcaption></figcaption></figure>

<p><a href="gallery/SRxkcd.py">Source</a></p>
